<div class="app-container">
  <!-- <mat-toolbar color="primary">
    <span>Scout Técnico de Vôlei</span>
  </mat-toolbar> -->

  <div class="content">
    <!-- Placar -->
    <div class="placar">
      <h3>Placar</h3>
      <div class="times">
        <div class="time">
          <span>Time A</span>
          <div class="botoes">
            <button mat-mini-fab color="accent" (click)="incrementarPontos('A')">+</button>
            <button mat-mini-fab color="warn" (click)="decrementarPontos('A')">-</button>
          </div>
        </div>
        <div class="painel-pontos">
          <span>{{ pontosA | number: '2.0' }} x {{ pontosB | number: '2.0' }}</span>
        </div>
        <div class="time">
          <span>Time B</span>
          <div class="botoes">
            <button mat-mini-fab color="accent" (click)="incrementarPontos('B')">+</button>
            <button mat-mini-fab color="warn" (click)="decrementarPontos('B')">-</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Grade de Fundamentos -->
    <div class="grid-fundamentos">
      <button mat-raised-button color="primary" (click)="selecionarFundamento('Saque')">Saque</button>
      <button mat-raised-button color="accent" (click)="selecionarFundamento('Passe')">Passe</button>
      <button mat-raised-button color="warn" (click)="selecionarFundamento('Levantamento')">Levantamento</button>
      <button mat-raised-button color="primary" (click)="selecionarFundamento('Ataque')">Ataque</button>
      <button mat-raised-button color="accent" (click)="selecionarFundamento('Bloqueio')">Bloqueio</button>
      <button mat-raised-button color="warn" (click)="selecionarFundamento('Defesa')">Defesa</button>
      <button mat-raised-button color="primary" (click)="selecionarFundamento('Cobertura')">Cobertura</button>
      <button mat-raised-button color="accent" (click)="selecionarFundamento('Erro')">Erro</button>
    </div>


    <div *ngIf="painelVisivel === 'quadra'" class="quadra">
      <h3>Posição dos Atletas</h3>
      <div class="meia-quadra">
        <div class="linha-ataque"></div>
    
        <!-- Renderiza atletas dinamicamente -->
        <button 
          *ngFor="let atleta of atletasTitulares" 
          class="atleta"
          [ngClass]="'posicao-' + atleta.posicao"
          (click)="posicionarAtleta(atleta.nome)">
          {{ atleta.numero }}
        </button>
    
      </div>
    </div>
    


    <!-- Painel de Ação do Atleta (exibido quando algum fundamento é clicado) -->
    <!-- Painel da Ação do Atleta -->
    <div *ngIf="painelVisivel === 'acao'" class="painel-fundamento">
      <div class="painel-titulo">
        <h3>Ação do Atleta</h3>
      </div>
      <div class="painel-grid">
        <button mat-raised-button *ngFor="let acao of acoesDisponiveis" class="painel-botao"
          (click)="voltarParaQuadra()">
          {{ acao }}
        </button>
      </div>
      <!-- Botão de Voltar para a Quadra -->
      <button class="btn-voltar-quadra" (click)="voltarParaQuadra()">Voltar para a Quadra</button>
    </div>

  </div>
</div>