<div class="app-container">
  <!-- <mat-toolbar color="primary">
    <span>Scout Técnico de Vôlei</span>
  </mat-toolbar> -->

  <div class="content">
    <!-- Placar -->
    <div class="placar">
      <h3>Placar</h3>
      <div class="times">
        <div class="time">
          <span>Time A</span>
          <div class="botoes">
            <button mat-mini-fab color="accent" (click)="incrementarPontos('A')">+</button>
            <button mat-mini-fab color="warn" (click)="decrementarPontos('A')">-</button>
          </div>
        </div>
        <div class="painel-pontos">
          <span>{{ pontosA | number: '2.0' }} x {{ pontosB | number: '2.0' }}</span>
        </div>
        <div class="time">
          <span>Time B</span>
          <div class="botoes">
            <button mat-mini-fab color="accent" (click)="incrementarPontos('B')">+</button>
            <button mat-mini-fab color="warn" (click)="decrementarPontos('B')">-</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Grade de Fundamentos -->
<div class="grid-fundamentos">
  <button mat-raised-button color="primary" (click)="exibirAcaoAtleta('Saque')">Saque</button>
  <button mat-raised-button color="accent" (click)="exibirAcaoAtleta('Passe')">Passe</button>
  <button mat-raised-button color="warn" (click)="exibirAcaoAtleta('Levantamento')">Levantamento</button>
  <button mat-raised-button color="primary" (click)="exibirAcaoAtleta('Ataque')">Ataque</button>
  <button mat-raised-button color="accent" (click)="exibirAcaoAtleta('Bloqueio')">Bloqueio</button>
  <button mat-raised-button color="warn" (click)="exibirAcaoAtleta('Defesa')">Defesa</button>
  <button mat-raised-button color="primary" (click)="exibirAcaoAtleta('Cobertura')">Cobertura</button>
  <button mat-raised-button color="accent" (click)="exibirAcaoAtleta('Erro')">Erro</button>
</div>


    <!-- Painel da Quadra (exibido por padrão) -->
    <div *ngIf="painelVisivel === 'quadra'" class="quadra">
      <h3>Posição dos Atletas</h3>
      <div class="meia-quadra">
        <div class="linha-ataque"></div>
        <div class="time">
          <button class="atleta zona-ataque" style="top: 20%; left: 10%;" (click)="posicionarAtleta('A1')">A1</button>
          <button class="atleta zona-ataque" style="top: 20%; left: 40%;" (click)="posicionarAtleta('A2')">A2</button>
          <button class="atleta zona-ataque" style="top: 20%; left: 70%;" (click)="posicionarAtleta('A3')">A3</button>
          <button class="atleta zona-ataque" style="top: 65%; left: 10%;" (click)="posicionarAtleta('A4')">A4</button>
          <button class="atleta zona-ataque" style="top: 65%; left: 40%;" (click)="posicionarAtleta('A5')">A5</button>
          <button class="atleta zona-ataque" style="top: 65%; left: 70%;" (click)="posicionarAtleta('A6')">A6</button>
        </div>
      </div>
    </div>

    <!-- Painel de Ação do Atleta (exibido quando algum fundamento é clicado) -->
    <div *ngIf="painelVisivel === 'acao'" class="painel-fundamento">
      <div class="painel-titulo">
        <h3>Ação do Atleta</h3>
      </div>
      <div class="painel-grid">
        <button mat-raised-button *ngFor="let i of [1, 2, 3, 4]" class="painel-botao" (click)="voltarParaQuadra()">Botão {{ i }}</button>
        <button mat-raised-button *ngFor="let i of [5, 6, 7, 8]" class="painel-botao" (click)="voltarParaQuadra()">Botão {{ i }}</button>
        <button mat-raised-button *ngFor="let i of [9, 10, 11, 12]" class="painel-botao" (click)="voltarParaQuadra()">Botão {{ i }}</button>
      </div>
      <!-- Botão de Voltar para a Quadra -->
      <button class="btn-voltar-quadra" (click)="voltarParaQuadra()">Voltar para a Quadra</button>
    </div>
  </div>
</div>
